html, body {
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: lightcyan;

}

header {
	background-color: #66b3ff;
	padding: 40px;
	text-align: center;
	border-bottom: 10px solid white;

}

h1 {
	font-size: 90px;
	color: white;
	margin: 40px;
	text-shadow: 0 4px 20px black;
}

h2{
	font-size: 30px;
}

p{
	font-size: 20px;
}

header img {
	border-radius: 150px;
	border: 15px solid  #f2f2f2;
	box-shadow: 0 10px 20px black;
}

.content{
	max-width: 900px;
	margin: 0 auto; 
	padding: 0 20px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 25px;
	color: red;
	font-size: italic;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: blue;
	text-decoration: none;
}

footer{
	padding: 40px 20px;
	margin-top: 20px;
}

footer ul{
	text-align: center
}

footer ul li{
	display: inline-block;
	margin: 0 5px;
}